body{
    background: url(../img/road.jpg) center center fixed;
    background-size: cover;
    font-family: Arvo,serif;
}
.main{
    background-color: transparent;
    margin: 0;
    padding: 10px;
}
.main h1{
    letter-spacing: 3px;
}
.main h1,
.main p{
    text-align: center;
}
#map{
    width: 100%;
    height: 500px;
    margin: 10px auto;
}
#output{
    font-size: 20px;
    margin: 10px auto;
    height: auto;
}